@import "./variables";
@import "./mixins";

* {
    margin: 0;
    font-family: "Avenir Next Regular";
}

%page-header, %section-header {
    font-size: 24px;
    line-height: 32px;
    font-family: "Avenir Next Bold";
}

%page-header {
    @include tablet {
        font-size: 60px;
        line-height: 68px;
    }
}

%section-header {
    @include tablet {
        font-size: 36px;
        line-height: 44px;
    }
}

%subheader {
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir Next Demi";
    @include tablet {
        font-size: 24px;
        line-height: 32px;
    }
}

%body-copy, %footer-copy {
    font-size: 13px;
    line-height: 18px;
}

%body-copy {
    @include tablet {
        font-size: 14px;
        line-height: 22px;
    }
}

%footer-copy {
    @include tablet {
        font-size: 14px;
        line-height: 20px;
    }
}

h1 {
    @extend %page-header;
    @include padding-headline();
}

h2 {
    @extend %section-header;
    @include padding-headline();
}

h3 {
    @extend %subheader;
    @include padding-headline();
}

p {
    @extend %body-copy;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

header {
    background-color: $bs-black;

    * {
        color: $bs-white;
    }
}

footer {
    width: 100%;
    background-color: $bs-black;

    * {
        color: $bs-white;
    }

    h4 {
        font-family: "Avenir Next Demi";
    }

    h4, p, a {
        @extend %footer-copy;
    }
}

.label, .btn {
    font-size: 10px;
    line-height: 20px;
    font-family: "Avenir Next Bold";
    @include tablet {
        font-size: 12px;
        line-height: 20px;
    }
}