@use "./variables" as *;

* {
    margin: 0;
    font-family: "Avenir Next Regular";
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@mixin width-grid($n) {
    width: auto;
    @include tablet {
        width: calc($tablet-column * $n + $tablet-gutter * ($n - 1));
    }
    @include desktop {
        width: calc($desktop-column * $n + $desktop-gutter * ($n - 1));
    }
}

@mixin width-tablet($n) {
    width: calc($tablet-column * $n + $tablet-gutter * ($n - 1));
}

@mixin width-desktop($n) {
    width: calc($desktop-column * $n + $desktop-gutter * ($n - 1));
}

@mixin padding-headline {
    padding-top: 24px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 16px;

    @include tablet {
        padding-top: 48px;
        padding-right: 0;
        padding-bottom: 36px;
        padding-left: 36px;
    }

    @include desktop {
        padding-left: 0;
    }
}

h1, h2 {
    font-size: 24px;
    line-height: 32px;
    font-family: "Avenir Next Bold";
    @include padding-headline();
}

h1 {
    @include tablet {
        font-size: 60px;
        line-height: 68px;
    }
}

h2 {
    @include tablet {
        font-size: 36px;
        line-height: 44px;
    }
}

h3 {
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir Next Demi";
    @include tablet {
        font-size: 24px;
        line-height: 32px;
    }
}

h4, p, a {
    font-size: 13px;
    line-height: 18px;
}

h4 {
    font-family: "Avenir Next Demi";
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

header {
    background-color: $bs-black;

    a {
        color: $bs-white;
    }
}

footer {
    width: 100%;
    background-color: $bs-black;

    h4, p, a {
        @include tablet {
            font-size: 14px;
            line-height: 20px;
        }
    }

    * {
        color: $bs-white;
    }
}

.label, .btn {
    font-size: 10px;
    line-height: 20px;
    font-family: "Avenir Next Bold";
    @include tablet {
        font-size: 12px;
        line-height: 20px;
    }
}