@import "./variables";

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@mixin width-grid($n) {
    width: 100%;
    @include tablet {
        width: calc($tablet-column * $n + $tablet-gutter * ($n - 1));
    }
    @include desktop {
        width: calc($desktop-column * $n + $desktop-gutter * ($n - 1));
        
    }
}

@mixin width-tablet($n) {
    width: calc($tablet-column * $n + $tablet-gutter * ($n - 1));
}

@mixin width-desktop($n) {
    width: calc($desktop-column * $n + $desktop-gutter * ($n - 1));
}

@mixin padding-headline {
    padding-top: 24px;
    padding-right: $mobile-margin;
    padding-bottom: 16px;
    padding-left: $mobile-margin;

    @include tablet {
        padding-top: 48px;
        padding-right: $tablet-margin;
        padding-bottom: 36px;
        padding-left: $tablet-margin;
    }

    @include desktop {
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin padding-component($top: false, $bottom: false) {
    padding: 0;
    @if $top {
        padding-top: $padding-mobile;
    }

    @if $bottom {
        padding-bottom: $padding-mobile;
    }
    
    @include tablet {
        @if $top {
            padding-top: $padding-tablet;
        }
    
        @if $bottom {
            padding-bottom: $padding-tablet;
        }
    }
}