@font-face {
  font-family: "Avenir Next Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("turetype");
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("turetype");
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("turetype");
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("turetype");
}
* {
  margin: 0;
  font-family: "Avenir Next Regular";
}

h1, h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir Next Bold";
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 44px;
  }
}

main .about__quote-name, main .about__quote-content, h3 {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir Next Demi";
}
@media only screen and (min-width: 768px) {
  main .about__quote-name, main .about__quote-content, h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

p, footer h4, footer p, footer a {
  font-size: 13px;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 768px) {
  footer h4, footer p, footer a {
    font-size: 14px;
    line-height: 20px;
  }
}

h1 {
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
@media only screen and (min-width: 768px) {
  h1 {
    padding-top: 48px;
    padding-right: 36px;
    padding-bottom: 36px;
    padding-left: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    padding-left: 0;
    padding-right: 0;
  }
}

h2 {
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
@media only screen and (min-width: 768px) {
  h2 {
    padding-top: 48px;
    padding-right: 36px;
    padding-bottom: 36px;
    padding-left: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  h2 {
    padding-left: 0;
    padding-right: 0;
  }
}

h3 {
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
@media only screen and (min-width: 768px) {
  h3 {
    padding-top: 48px;
    padding-right: 36px;
    padding-bottom: 36px;
    padding-left: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  h3 {
    padding-left: 0;
    padding-right: 0;
  }
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.icon {
  height: 24px;
}

img.logo {
  width: 120px;
  height: 20px;
}

.label, .btn {
  color: #E1E1E1;
  font-size: 10px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  .label, .btn {
    font-size: 12px;
    line-height: 20px;
  }
}

header {
  background-color: #323232;
}
header * {
  color: #FFFFFF;
}
header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}
@media only screen and (min-width: 768px) {
  header > div {
    margin-left: 36px;
    flex-direction: row;
    -moz-column-gap: 24px;
         column-gap: 24px;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  header > div {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1280px) and (min-width: 768px) {
  header > div {
    width: calc((100vw - 72px - 264px) / 12 * 12 + 264px);
  }
}
@media only screen and (min-width: 1280px) and (min-width: 1280px) {
  header > div {
    width: 1020px;
  }
}
header > div div.logo {
  display: flex;
}
@media only screen and (min-width: 768px) {
  header > div div.logo {
    width: 156px;
  }
}
@media only screen and (min-width: 1280px) {
  header > div div.logo {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) and (min-width: 768px) {
  header > div div.logo {
    width: calc((100vw - 72px - 264px) / 12 * 2 + 24px);
  }
}
@media only screen and (min-width: 1280px) and (min-width: 1280px) {
  header > div div.logo {
    width: 150px;
  }
}
header > div nav {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  header > div nav {
    width: 216px;
  }
}
@media only screen and (min-width: 1280px) {
  header > div nav {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) and (min-width: 768px) {
  header > div nav {
    width: calc((100vw - 72px - 264px) / 12 * 2 + 24px);
  }
}
@media only screen and (min-width: 1280px) and (min-width: 1280px) {
  header > div nav {
    width: 150px;
  }
}
header > div nav ul {
  display: flex;
}
@media only screen and (min-width: 768px) {
  header > div nav ul {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
header > div nav ul li {
  display: flex;
  width: 50%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  header > div nav ul li {
    width: 96px;
  }
}
@media only screen and (min-width: 1280px) {
  header > div nav ul li {
    justify-content: center;
  }
}
header > div nav ul li .label {
  color: #E1E1E1;
  display: flex;
  width: 100%;
  padding: 8px 0;
  justify-content: center;
  border-top: rgba(50, 50, 50, 0) solid 5px;
}
@media only screen and (min-width: 768px) {
  header > div nav ul li .label {
    width: auto;
    padding: 18px 0;
  }
}
header > div nav ul li .label:hover {
  color: #FFFFFF;
  border-bottom: #FFFFFF solid 5px;
}
header > div nav ul li .active {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  border-bottom: #FFFFFF solid 5px;
}

footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
footer * {
  color: #FFFFFF;
}
footer h4 {
  font-family: "Avenir Next Demi";
}
footer .touch {
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 16px;
}
@media only screen and (min-width: 768px) {
  footer .touch {
    padding-top: 48px;
    padding-right: 36px;
    padding-bottom: 36px;
    padding-left: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .touch {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  footer .touch {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .touch {
    grid-template-columns: repeat(4, 237px);
    margin: 0 auto;
  }
}
footer .touch h2 {
  padding: 0;
  white-space: nowrap;
}
footer .touch div {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 36px;
       column-gap: 36px;
  flex-wrap: nowrap;
}
footer .touch > img {
  display: none;
}
@media only screen and (min-width: 768px) {
  footer .touch > img {
    display: inline-block;
    justify-self: end;
  }
}
@media only screen and (min-width: 1280px) {
  footer .touch > img {
    grid-column: 4/5;
  }
}
footer .booking {
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 16px;
}
@media only screen and (min-width: 768px) {
  footer .booking {
    padding-left: 36px;
    padding-right: 36px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .booking {
    padding: 0;
    grid-template-columns: repeat(4, 237px);
    margin: 0 auto;
  }
}
footer .booking__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}
@media only screen and (min-width: 768px) {
  footer .booking__contact {
    row-gap: 36px;
  }
}
footer .copy-right {
  padding: 48px 16px 24px 16px;
}
footer .copy-right img {
  padding-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  footer .copy-right {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) {
  footer .copy-right {
    width: calc((100vw - 72px - 264px) / 12 * 12 + 264px);
  }
}
@media only screen and (min-width: 768px) and (min-width: 1280px) {
  footer .copy-right {
    width: 1020px;
  }
}
@media only screen and (min-width: 768px) {
  footer .copy-right img {
    display: none;
  }
}

main * {
  color: #323232;
}
main h2 {
  align-self: flex-start;
}
@media only screen and (min-width: 1280px) {
  main h2 {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1280px) and (min-width: 768px) {
  main h2 {
    width: calc((100vw - 72px - 264px) / 12 * 12 + 264px);
  }
}
@media only screen and (min-width: 1280px) and (min-width: 1280px) {
  main h2 {
    width: 1020px;
  }
}
main .hero {
  position: relative;
  background-image: url(../../assets/images/hero-bio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vw;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  main .hero {
    justify-content: center;
  }
}
main .hero::before {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(50, 50, 50, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .hero h1 {
  color: #FFFFFF;
  z-index: 1;
}
@media only screen and (min-width: 1280px) {
  main .hero h1 {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) and (min-width: 768px) {
  main .hero h1 {
    width: calc((100vw - 72px - 264px) / 12 * 12 + 264px);
  }
}
@media only screen and (min-width: 1280px) and (min-width: 1280px) {
  main .hero h1 {
    width: 1020px;
  }
}
main .about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about h3, main .about img, main .about .about__description, main .about .about__quote {
  box-sizing: border-box;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 768px) {
  main .about h3, main .about img, main .about .about__description, main .about .about__quote {
    width: calc((100vw - 72px - 264px) / 12 * 10 + 216px);
  }
}
@media only screen and (min-width: 1280px) {
  main .about h3, main .about img, main .about .about__description, main .about .about__quote {
    width: 846px;
  }
}
@media only screen and (min-width: 768px) {
  main .about h3, main .about img, main .about .about__description, main .about .about__quote {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}
main .about__quote {
  padding: 0;
  padding-top: 16px;
}
@media only screen and (min-width: 768px) {
  main .about__quote {
    padding-top: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  main .about__quote-content {
    width: 80%;
  }
}
main .about__quote-name {
  padding: 12px 0 0 0;
}
@media only screen and (min-width: 768px) {
  main .about__quote-name {
    font-size: 20px;
    padding: 18px 0 0 0;
  }
}
main .about__description {
  padding: 0;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}
@media only screen and (min-width: 768px) {
  main .about__description {
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 768px) {
  main .about__description {
    flex-direction: row;
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
}
main .about h3, main .about img {
  display: block;
}
main .gallery {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .gallery .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin: 0 16px;
  gap: 16px;
  margin-bottom: 16px;
}
main .gallery .container img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  main .gallery .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 36px;
    gap: 24px;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  main .gallery .container {
    grid-template-columns: repeat(3, 324px);
    grid-template-rows: repeat(3, 1fr);
  }
}/*# sourceMappingURL=bio.css.map */