@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/global";

main {
    * {
        color: $bs-black;
    }

    h2 {
        align-self: flex-start;
        @include desktop {
            @include width-grid(12);
            margin: 0 auto;
        }
    }

    .hero {
        position: relative;
        background-image: url(../../assets/images/hero-bio.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        height: 60vw;

        display: flex;
        align-items: center;

        @include desktop {
            justify-content: center;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            background-color: rgba($bs-black, 0.5);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        h1 {
            color: $bs-white;
            z-index: 1;
            @include desktop {
                @include width-grid(12);
            }
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        %about-content {
            box-sizing: border-box;
            @include width-grid(10);
            padding-left: $mobile-margin;
            padding-right: $mobile-margin;
            @include tablet {
                padding-left: 0;
                padding-right: 0;
                margin: 0 auto;
            }
        }

        &__quote {
            @extend %about-content;
            @include padding-component($top: true, $bottom: false);
            
            &-content {
                @extend %subheader;
                @include desktop {
                    width: 80%;
                }
            }
            
            &-name {
                @extend %subheader;
                padding: 12px 0 0 0;
                @include tablet {
                    font-size: 20px;
                    padding: 18px 0 0 0;
                }
            }
        }

        &__description {
            @include padding-component($top: false, $bottom: true);
            @extend %about-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 16px;

            @include tablet {
                flex-direction: row;
                column-gap: 36px;
            }
        }

        h3, img {
            display: block;
            @extend %about-content;
        }
    }

    .gallery {
        background-color: $bs-alabaster;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(9, 1fr);
            margin: 0 $mobile-margin;
            gap: 16px;
            margin-bottom: 16px;
            img {
                width: 100%;
            }

            @include tablet {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                margin: 0 $tablet-margin;
                gap: 24px;
                margin-bottom: 36px;
            }

            @include desktop {
                grid-template-columns: repeat(3, $width-gallery-img);
                grid-template-rows: repeat(3, 1fr);
            }
        }
    }
}