@font-face {
  font-family: "Avenir Next Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("turetype");
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("turetype");
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("turetype");
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("turetype");
}
* {
  margin: 0;
  font-family: "Avenir Next Regular";
}

h1, h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir Next Bold";
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 44px;
  }
}

main .about__quote-name, main .about__quote-content, h3 {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir Next Demi";
}
@media only screen and (min-width: 768px) {
  main .about__quote-name, main .about__quote-content, h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

p, footer h4, footer p, footer a {
  font-size: 13px;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 768px) {
  footer h4, footer p, footer a {
    font-size: 14px;
    line-height: 20px;
  }
}

h1 {
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 0;
  margin-left: 16px;
}
@media only screen and (min-width: 768px) {
  h1 {
    padding-top: 48px;
    padding-bottom: 36px;
    margin-left: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    margin-left: 0;
  }
}

h2 {
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 0;
  margin-left: 16px;
}
@media only screen and (min-width: 768px) {
  h2 {
    padding-top: 48px;
    padding-bottom: 36px;
    margin-left: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  h2 {
    margin-left: 0;
  }
}

h3 {
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 0;
  margin-left: 16px;
}
@media only screen and (min-width: 768px) {
  h3 {
    padding-top: 48px;
    padding-bottom: 36px;
    margin-left: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  h3 {
    margin-left: 0;
  }
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

header {
  background-color: #323232;
}
header * {
  color: #FFFFFF;
}

footer {
  width: 100%;
  background-color: #323232;
}
footer * {
  color: #FFFFFF;
}
footer h4 {
  font-family: "Avenir Next Demi";
}
.label, .btn {
  font-size: 10px;
  line-height: 20px;
  font-family: "Avenir Next Bold";
}
@media only screen and (min-width: 768px) {
  .label, .btn {
    font-size: 12px;
    line-height: 20px;
  }
}

main * {
  color: #323232;
}
@media only screen and (min-width: 1280px) {
  main h2 {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1280px) and (min-width: 768px) {
  main h2 {
    width: calc((100% - 72px - 264px) / 12 * 12 + 264px);
  }
}
@media only screen and (min-width: 1280px) and (min-width: 1280px) {
  main h2 {
    width: 1020px;
  }
}
main .hero {
  position: relative;
  background-image: url(../../assets/images/hero-bio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vw;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  main .hero {
    justify-content: center;
  }
}
main .hero::before {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(50, 50, 50, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .hero h1 {
  color: #FFFFFF;
  z-index: 1;
}
@media only screen and (min-width: 1280px) {
  main .hero h1 {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) and (min-width: 768px) {
  main .hero h1 {
    width: calc((100% - 72px - 264px) / 12 * 12 + 264px);
  }
}
@media only screen and (min-width: 1280px) and (min-width: 1280px) {
  main .hero h1 {
    width: 1020px;
  }
}
main .about h3, main .about img, main .about .about__description, main .about .about__quote {
  box-sizing: border-box;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media only screen and (min-width: 768px) {
  main .about h3, main .about img, main .about .about__description, main .about .about__quote {
    width: calc((100% - 72px - 264px) / 12 * 10 + 216px);
  }
}
@media only screen and (min-width: 1280px) {
  main .about h3, main .about img, main .about .about__description, main .about .about__quote {
    width: 846px;
  }
}
@media only screen and (min-width: 768px) {
  main .about h3, main .about img, main .about .about__description, main .about .about__quote {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}
main .about__quote {
  padding: 0;
  padding-top: 16px;
}
@media only screen and (min-width: 768px) {
  main .about__quote {
    padding-top: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  main .about__quote-content {
    width: 80%;
  }
}
main .about__quote-name {
  padding: 12px 0 0 0;
}
@media only screen and (min-width: 768px) {
  main .about__quote-name {
    font-size: 20px;
    padding: 18px 0 0 0;
  }
}
main .about__description {
  padding: 0;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}
@media only screen and (min-width: 768px) {
  main .about__description {
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 768px) {
  main .about__description {
    flex-direction: row;
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
}
main .about h3, main .about img {
  display: block;
}
main .gallery {
  background-color: #FAFAFA;
}
main .gallery .container {
  display: flex;
  flex-direction: column;
}
main .gallery .container img {
  margin: 0 16px;
}/*# sourceMappingURL=bio.css.map */